.fifth-page{
    width:100%;
     height:100%;
     background-color: #ffffff;
     background-image: url("./assets/testimonail.png");
     background-repeat: no-repeat;
     background-position: right;
     background-size: 37%;
     margin-top: -3%;
    }
.page5{
    width: 30%;
    height: 20%;
    text-align: left;
    color: #2D80B5;
    font-size: 27px;
    margin-left: 12%;
    margin-top: 12%;
}
.page5 h2{
    width: 410px;
    height: 71px;
    text-align: left;
    font: 50px/76px Poppins;
    color: #2D80B5; 
    font-size: 54px;              
}
.page5 h1{
    width: 100%;
    height: 71px;
    text-align: left;
    font: normal normal bold 50px/76px Poppins;
    color: #2D80B5;
    font-size: 50px;
    margin-top: -40px;
}
.page5 p{
    width: 1050px;
    height: 235px;
    text-align: left;
    font: normal normal medium 25px/50px Poppins;
    color: #81837F;
}
.page5 span{
    margin-left: 74%;
    width: 245px;
    height: 89px;
    text-align: left;
    font: normal normal medium 30px/46px Poppins;
    letter-spacing: 0px;
    color: #2D80B5;
}
.page5 img{margin-left: 109%;}

.fifth-page{padding-bottom:2%;}

/* .test{margin-left: 50%;
     margin-top: -28%; 
     } */
     /* .test img{
         /* width: 36%;
         height: 40%; */
         /* position: relative;        
         left:64%;
         margin-top: -20%;

     } */ 
            